body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

a {
  color: #2dc997;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0;
}
header {
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/*--------------------------------------------------------------
                          # Header
--------------------------------------------------------------*/
#header {
  height:60px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(52, 59, 64, 0.9);
  border-bottom-style: solid;
  border-bottom-color: #249740;
  border-bottom-width: 5px;
}
#header #logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 64px;
}
#header #logo h1 a, #header #logo h1 a:hover {
    color: #249740;
    text-decoration: none;
}
#header #logo img {
  padding: 0;
  margin: 0;
}
#header.header-transparent {
    background: rgb(255 255 255);
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
    margin: 0;
    padding-right: 73px;
  display: flex;
  list-style: none;
  align-items: center;

}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #249740;
  font-size: 14px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #249740;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #249740;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
nav {
    display: block;
}

/*------------------------
         TOP
------------------------*/
#top h1{
    font-weight: 700;
    color: #fff;
}
#top h2{
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}
.col-text{
  margin-top: 95px;
  float: left;
  width: 60%;
  align-content: center;
}
.col-logo{
  margin-top: 55px;
  float: left;
  width: 20%;
  padding: 10px;
}
.bg{
        background: rgb(36 151 64)
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.d-flex {
    display: flex!important;
}
.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*------------------------
         HOME
------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url(welcome.jpg) top center;
  background-size: cover;
  position: relative;
}
#home:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#home h1 {
    margin: 29px 40px 40px 40px;
    font-size: 51px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}
.logo{
    width: 60%;
}
#home h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
#home .btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;

}
#home .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}



.pride{
    padding-bottom: 10px;
}
.picture{
    margin: 0px 150px 0px 150px;
}
.principal {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 20%;
    margin: 0px 50px 0px 50px;  
}

.principal:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 92%);
}

.container {
  padding: 2px 16px;
  background: white;
}
.container h4{
    font-size: 20px;
}
.col{
  float: left;
  align-content: center;
}
.about{
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    padding-bottom: 32px;
}

.img {
  border-radius: 5px 5px 0 0;
}

#about h1{
    margin: 29px 40px 40px 40px;
    font-size: 37px;
    font-weight: 500;
    line-height: 37px;
    text-transform: uppercase;
    padding-left: 55px;
}

.icon img{
    width: 10%;
    float: left;
}
.icon-email img{
    width: 15%;
    float: left;
}
.icon-phone img{
    width: 20%;
    float: left;
}

.footer{
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 30px;
}
.footer p{
    padding: 10px 55px 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
    color: white;
    font-family: "Poppins", sans-serif;
}